<tr>
  <td class = "text-center"><%= user_booking_row_counter +=1 %></td>
  <td class = "text-center"><%= link_to user_booking_row.tour.title, tour_path(id: user_booking_row.tour.id) %></td>
  <td class = "text-center"><%= user_booking_row.created_at.strftime("%Y %m %d") %></td>
  <td class = "text-center"><%= user_booking_row.start_day.strftime("%Y %m %d") %></td>
  <td class = "text-center"><%= user_booking_row.end_day.strftime("%Y %m %d") %></td>
  <td class = "text-center"><%= user_booking_row.total_price %></td>
  <% if user_booking_row.status=="denied" %>
   <th class = "text-center danger">
  <% elsif user_booking_row.status == "accepted" %>
   <th class = "text-center success">
  <% else %>
   <th class = "text-center">
  <% end %>
    <%= user_booking_row.status %></th>
  <% if user_booking_row.tour.start_day.to_i > Time.now.to_i %>
    <% if user_booking_row.status != "canceled" %>
    <td class = "text-center"><%= link_to t("cancel"), user_booking_path(id: user_booking_row.id) , method: :delete, data: { confirm: "Sure?"}%></td>
    <% else %>
    <% end %>
  <% else %>
  <td class = "text-center"><p class ="red-p"> CLOSED </p></td>
  <% end %>
  <% if (user_booking_row.tour.start_day.to_i < Time.now.to_i) && user_booking_row.status=="accepted" %>
    <th class = "text-center"><%= link_to "Review post", new_user_review_path(id: user_booking_row.tour.id) %></th>
  <% end %>
</tr>


