<% provide :title, t("user_review") %>
<h1 class = "text-center" ><%= t(".edit_review") %><b><%= @tour.title %></b></h1>
<%= form_for(@review, url: review_path) do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <%= f.hidden_field :tour_id, :value => @review.tour_id %>

  <div class="field">
    <%= f.label :title, t("title") %>
    <%= f.text_field :title, class: "form-control", placeholder: "Write title here..",:disabled => true %>
  </div>
  <br>
  <div class="field">
    <%= f.label :content, t("content") %>
    <%= f.text_area :content,class: "form-control", rows: "10", placeholder: "Write content here..",:disabled => true %>
  </div>
  <br>
  <div class="field col-md-6">
    <%= f.label :image, t("image") %>
    <%= f.fields_for :images do |p| %>
        <%= p.file_field :path, multiple: true, name: "images[path][]" %>
    <% end %>
  </div>
  <br>
  <div class="field col-md-12">
      <%= f.label :status, t("status") %>
      <%= f.select :status, options_for_select(edit_status.collect{|u| [t(u[:name]), {class: "dropdown-menu show"}, u[:id]]}), {} %>
  </div>
  <br>
  <%= f.submit "Post", class: "btn btn-primary right" %>
<% end %>
