<% provide(:title, @review.title) %>
<div class="row tour_detail">
  <aside class="col-md-12">
    <section class="">
      <h1>
        <%= @review.title %>
        <% if @review.status == "unvisible" %>
        <strong>(*invisible)</strong>
        <% end %>
      </h1>
      <p><i>
        <%= t(".postedat") %> <%= @review.created_at.to_datetime.strftime("%B %e, %Y at %I:%M %p") %>
      </i></p>
    </section>
  </aside>
  <% if review_owner?  %>
  <div class=" float-right ">
      <%= button_to t("edit"), edit_user_review_path, :method => :get%>
      <%= button_to t("delete"), user_review_path, :method => :delete, data: { confirm: "Sure?"} %>
  </div>
  <% end %>
  <% if admin_acount?  %>
  <div class=" float-right ">
    <%= button_to t("edit"), edit_review_path, :method => :get%>
      <%= button_to t("delete"), user_review_path, :method => :delete, data: { confirm: "Sure?"} %>
  </div>
  <% end %>
  <div class="col-md-12">
    <p><%= @review.content %></p>
  </div>
  <div class="col-md-12 float-right">
    <p>Post by <%= @review.account.email %></p>
  </div>
  <div class="reviews col-md-12">
    <%= form_for(@like, url: likes_path, remote: true) do |f| %>
      <div><%= hidden_field_tag :review_id, @review.id %></div>
      <%= f.submit t("like"), class: "btn btn-primary" %>
    <% end %>

    <span id = "likerse"><%= @review.likes.count %></span> <%= t("liker") %>
  </div>
  <div class="reviews col-md-12">
    <h2><%= t("commenthere") %>(<%= @review.comments.count %>)</h2>
  </div>
</div>
