<% provide(:title, @review.title) %>
<div class="row tour_detail">
  <aside class="col-md-12">
    <section class="">
      <h1>
        <%= @review.title %>
      </h1>
      <p><i>
        <%= t(".postedat") %> <%= @review.created_at.to_datetime.strftime("%B %e, %Y at %I:%M %p") %>
      </i></p>
    </section>
  </aside>
  <div class="col-md-12">
    <p><%= @review.content %></p>
  </div>
  <div class="col-md-12 float-right">
    <p>Post by <%= @review.account.email %></p>
  </div>
  <div class="reviews col-md-6">
    <h2><%= t("commenthere") %>(<%= @review.comments.count %>)</h2>
  </div>
</div>

