<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
  <%= link_to "Booking APP", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(".home"), root_path %></li>
        <li><%= link_to t(".donetours"), donetours_path %></li>
          <% if account_signed_in? %>
            <% if current_account.admin? %>
              <li><%= link_to t(".users"), accounts_path %></li>
              <li><%= link_to t("tour_manage"), tours_path %></li>
              <li><%= link_to t("category_manage"), categories_path %></li>
              <li><%= link_to t("booked_manage"), bookings_path %></li>
              <li><%= link_to t("revenue"), revenue_index_path %></li>
            <% else %>
          <li class="dropdown">
            <%= link_to "#", class: "dropdown-toggle", "data-toggle" => "dropdown" do %>
              <%= t(".account") %> <b class="caret"></b>
            <% end %>
            <ul class="dropdown-menu">
              <li><%= link_to t(".profile"), root_path %></li>
              <li><%= link_to t(".setting"), root_path %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t(".logout"), destroy_account_session_path, method: :delete %>
              </li>
            </ul>
          </li>
            <li><%= link_to t("userbooked_manage"), user_bookings_path %></li>
          <% end %>
          <li><%= link_to t(".logout"), destroy_account_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to t(".login"), new_account_session_path %></li>
          <li><%= link_to t(".signin"), new_account_registration_path %></li>
        <% end %>
        <li>
          <div class="language">
            <%= image_tag "usa.png" %> <%= link_to t(".en"), locale:"en" %> |
            <%= image_tag "vietnam.png" %> <%= link_to t(".vi"), locale:"vi" %>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
